LINKEDIN_EMAIL=<"seu_email@example.com">
LINKEDIN_PASSWORD="sua_senha_secreta"

# Configurações do PostgreSQL
POSTGRES_DB=marketing
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

ANTI_CAPTCHA_KEY="seu_token_anticaptcha"

META_GRAPH_BASE=https://graph.facebook.com/v21.0
PAGE_ID=123456789012345
IG_ACCOUNT_ID=12345678901234567
META_CLIENT_ID=1234567890123456
META_CLIENT_SECRET=abc123def456ghi789jkl012mno345pqr

ACCESS_TOKEN_META_INSTAGRAM=EAABsBCS1234567890abcdefghijklmnopqrstuvwxyz1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqrstuvwxyz1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ
